@{
    ViewBag.Title = "Home Page";
}

<div style="height:100%;width:100%">
    <a href="~/image/LIST of Advisers_ for Release.pdf">~/image/LIST of Advisers_ for Release.pdf</a>
</div>

@*<h2>Bussiness Information System</h2>*@
